*{margin: 0;padding: 0;box-sizing: border-box!important;}

/*清除浮动*/
.clearfix:after{
	content:"";
	display: block;
	clear: both;
	height:0;
	line-height:0; 
	overflow:hidden
}
.clearfix{
	zoom:1;     /* 为了兼容IE浏览器 */
}



/*----------顶部banner---------*/
